<div class="site-section bg-light" *ngIf="!loadCoursesIsClicked" >
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Our Last Courses</h2>
        <p class="color-black-opacity-5">These are the last courses updated</p>
      </div>
    </div>
    <div class="row mb-3 align-items-stretch" >
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" *ngFor="let course of courses">
        <div class="h-entry">
          <img src="assets/images/{{ course.image }}" alt="Image" class="img-fluid rounded" style="width: 290px; height: 205px;" >
          <h2 class="font-size-regular"><a href="#" class="text-black">{{ course.title }}</a></h2>
          <div class="meta mb-3">by {{ course.author }}<span class="mx-1"></span> {{ course.date }} <span class="mx-1"></span></div>
          <p>{{ course.description }}</p>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <a class="btn btn-primary rounded py-2 px-4 text-white" (click)="loadAllCourses()">View All Courses</a>
      </div>
    </div>
  </div>
</div>
<app-courses *ngIf="loadCoursesIsClicked"></app-courses>
